@font-face {
  font-family: 'Lahzeh Variable';
  src: url('Lahzeh-FamilyVF.woff2') format('woff2-variations'),
       url('Lahzeh-FamilyVF.woff') format('woff-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-variation-settings: 'wght' var(--font-weight, 400);
}

/* Alternative declaration for broader browser support */
@font-face {
  font-family: 'Lahzeh Variable';
  src: url('Lahzeh-FamilyVF.woff2') format('woff2'),
       url('Lahzeh-FamilyVF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
